{% extends "base.html" %}

{% block title %}KipCodes Twitter Manager - Home{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-md-6">
        <h1>Manage Your Twitter Account Like Never Before</h1>
        <p class="lead">Post, delete, and edit tweets easily with our powerful Twitter management platform.</p>
        <div class="mt-4">
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">
                <i class="fab fa-twitter me-2"></i> Login with Twitter
            </a>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='img/twitter-mgmt.svg') }}" alt="Twitter Management" class="img-fluid" style="max-height: 400px;">
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-feather-alt fa-3x text-info mb-3"></i>
                <h5 class="card-title">Post Tweets</h5>
                <p class="card-text">Create and post tweets directly from our platform with the "Posted from KipCodes" attribution.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-edit fa-3x text-info mb-3"></i>
                <h5 class="card-title">Edit Tweets</h5>
                <p class="card-text">Need to fix a typo? Edit your tweets by deleting and reposting with your changes.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-trash-alt fa-3x text-info mb-3"></i>
                <h5 class="card-title">Delete Tweets</h5>
                <p class="card-text">Remove unwanted tweets individually or in batches with our simple interface.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}